.inicio {
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-image: url(/img/inicio.jpg);
background-size: cover;
background-position: center;
 min-height: 100vh;
}

.contenido-inicio {
text-align: center;
padding-top: 310px;
padding-left: 20px;
font-size:68px;

}

.subtitulo {
  font-size: 24px;
  text-decoration-line: underline;
}


