<h1>Inventario de Productos</h1>

<h2>
  @if (editando) {
    Editar producto
  } @else {
    Crear nuevo producto
  }
</h2>

<form
  (ngSubmit)="editando ? actualizarProducto() : crearProducto()"
>

  <div>
    <label for="nombre">Nombre:</label>

    <input
      id="nombre"
      type="text"
      name="nombre"
      [(ngModel)]="nuevoProducto.nombre"
      required
    >
  </div>

  <br>

  <div>
    <label for="precio">Precio:</label>

    <input
      id="precio"
      type="number"
      name="precio"
      [(ngModel)]="nuevoProducto.precio"
      required
    >
  </div>

  <br>

  <div>
    <label for="cantidad">Cantidad:</label>

    <input
      id="cantidad"
      type="number"
      name="cantidad"
      [(ngModel)]="nuevoProducto.cantidad"
      required
    >
  </div>

  <br>

  <div>
    <label for="categoria">Categoría:</label>

    <input
      id="categoria"
      type="text"
      name="categoria"
      [(ngModel)]="nuevoProducto.categoria"
      required
    >
  </div>

  <br>

  @if (editando) {

    <button type="submit">
      Guardar cambios
    </button>

    <button
      type="button"
      (click)="cancelarEdicion()"
    >
      Cancelar
    </button>

  } @else {

    <button type="submit">
      Crear producto
    </button>

  }

</form>

<hr>

<h2>Productos registrados</h2>

<p>
  Total productos: {{ productos.length }}
</p>

@for (producto of productos; track producto.id) {

  <div>

    <h3>{{ producto.nombre }}</h3>

    <p>ID: {{ producto.id }}</p>

    <p>Categoría: {{ producto.categoria }}</p>

    <p>Precio: ${{ producto.precio }}</p>

    <p>Cantidad: {{ producto.cantidad }}</p>

    <button
      type="button"
      (click)="editarProducto(producto)"
    >
      Editar
    </button>

  </div>

  <hr>
}
